<h1>Your Restaurants</h1>
<ol>
<% @user.restaurants.each do |r|%>
   <li><%= link_to r.name,user_restaurant_path(@user, r)%></li><br>
<% end%>
</ol>
<%= link_to "Add Restaurant", new_user_restaurant_path(@user) %>